name: Trigger auto deployment for boombet-api

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/boombet-api-AutoDeployTrigger-66d79b1f-41b3-49f4-8c41-b51a15eca5e8.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.BOOMBETAPI_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.BOOMBETAPI_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.BOOMBETAPI_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: boombetautomationapi.azurecr.io
          registryUsername: ${{ secrets.BOOMBETAPI_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.BOOMBETAPI_REGISTRY_PASSWORD }}
          containerAppName: boombet-api
          resourceGroup: boombet-n8nplaywright-preliminar
          imageToBuild: boombetautomationapi.azurecr.io/boombet-api:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


